@use "../abstracts" as *;

@each $size-name, $size-value in $flex-sizes {
	.flex-row-gap-#{$size-name} {
		display: flex;
		gap: $size-value;
	}
}

@each $size-name, $size-value in $flex-sizes {
	.flex-basis-#{$size-name} {
		flex-basis: $size-value;
	}
}
