@use "../abstracts" as *;

@each $size-name, $size-value in $flex-sizes {
	.flex-row-gap-#{$size-name} {
		display: flex;
		gap: $size-value;
		flex-wrap: wrap;
		& > * {
			flex-shrink: 0;
		}
	}
}

@each $size-name, $size-value in $flex-sizes {
	.flex-basis-#{$size-name} {
		flex-basis: $size-value;
	}
}
