@use "../abstracts/" as *;
.nav {
	font-family: $ff-abril;
	font-size: fs(700);
	&--links {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: clr(neutral, 100);
		cursor: pointer;
		&:hover {
			color: clr(primary, 400);
		}
	}
}

header {
	height: 938px;
	background: linear-gradient(0deg, rgba(19, 27, 32, 0), rgba(19, 27, 32, 0)),
		url("../../hero-bg-1.jpg");
}

.hero {
	&--title {
		text-align: center;
		max-width: 1120px;
	}
}
