@use "../abstracts" as *;

.testimonials {
	&--image img {
		display: block;
	}
	&--content {
		background-color: clr(neutral, 100);
		padding: size(80);
		text-align: center;
		position: relative;
		&::before {
			content: '"';
			display: block;
			font-family: $ff-palanquin;
			position: absolute;
			top: 0rem;
			left: 2rem;
			font-size: 25rem;
			color: rgba(33, 33, 33, 0.05);
			transform: rotate(180deg);
		}
	}
	&--footer {
		padding-block: size(16);
		text-align: center;
	}
}
