@use "../abstracts/" as *;

html {
	scroll-behavior: smooth;
}

body {
	font-size: fs(400);
	font-weight: fw(normal);
	font-family: $ff-lato;
	line-height: 1.6em;
	color: clr(neutral, 400);
	background-color: clr(neutral, 100);
	min-height: 100vh;
}

h1,
h2 {
	font-family: $ff-abril;
	line-height: 1.3em;
}

h1 {
	font-size: fs(900);
}
